body {
    margin: 0;
    padding: 0;
    background-color: #FEFCEC;
}
.top-band {
    width: 100%;
    height: 5.6vw;
    background-color: #500000;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;            
    justify-content: center;
    align-items: center;
}
.top-menu {
    position: absolute;
    left: 3.8vw;
    width: 2vw;
    height: 1.6vw;
}
.top-image {
    width: 9.8vw;
    height: auto;
}
.top-request-button {
    position: absolute;
    right: 2.8vw;
    width: 11.5vw;
    height: 2.7vw;
    display: flex;
    background-color: #FEFCEC;
    border-radius: 2.7vw;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.lets-maryd {
    width: 8.4vw;
    height: auto;
}
.maryd-logo {
    text-align: center;
    margin-top: 10.7vw;
}
.maryd-logo-image {
    width: 30.4vw;
    height: 5.4vw;
}
.where-jewelry-meets-meaning {
    text-align: center;
    margin-top: 2.9vw;
}
.where-jewelry-meets-meaning-image {
    width: 10.7vw;
    height: 4.2vw;
}
.video-thumbnail {
    text-align: center;
    margin-top: 90px;
    position: relative;
    z-index: 3;
}
.video-thumbnail-image {
    width: 640px;
    height: 360px;
    transition: transform 0.1s ease-in-out;
}
.where-imagination-becomes-reality {
    text-align: center;
    margin-top: 3.2vw;
}
.dcursive-image {
    position: absolute;
    left: 4.2vw;
    top: calc(50% - (2.2vw));
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    height: 5.3vw;
    width: auto;
}
.dcursive-text {
    position: absolute;
    left: 4.2vw;
    top: calc(50% + (4.4vw + 0.9vw)); /* DGodic 이미지 높이 4.4vw + 간격 17px(0.9vw) */
}
.dgodic-image {
    position: absolute;
    top: 50%;
    right: 4.2vw;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    height: 4.4vw;
    width: auto;
}
.dgodic-text {
    position: absolute;
    top: calc(50% + (4.4vw + 0.9vw)); /* DGodic 이미지 높이 4.4vw + 간격 17px(0.9vw) */
    right: 4.2vw;
}
.where-imagination-becomes-reality {
    text-align: center;
    margin-top: 12.7vw;
    margin-bottom: 1vw;
}
.where-imagination-becomes-reality-image {
    width: 23.3vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.new-section {
    position: relative;
    height: 56.3vw;
    background: #662423;
    text-align: center;
    padding-top: 26.8vw;
    box-sizing: border-box;
    overflow: hidden;
}
.new-section-content {
    position: relative;
    z-index: 2;
}
.new-section-content > div > img {
    width: 36.3vw;
    height: auto;
}
.maryd-support-text {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 1.3;

    letter-spacing: 0;
    color: #FEFCEC;
}
.parallax-image {
    position: absolute;
    z-index: 1;
    transition: transform 0.1s ease-out;
    opacity: 0.8;
}

.parallax-1 { width: 216px; height: 338px; top: 10%; left: 5%; background-image: url('../images/1.png'); background-size: cover; }
.parallax-2 { width: 273px; height: 364px; top: 0%; right: 5%; background-image: url('../images/2.png'); background-size: cover; }
.parallax-3 { width: 282px; height: 376px; bottom: 20%; left: 10%; background-image: url('../images/3.png'); background-size: cover; }
.parallax-4 { width: 400px; height: 600px; bottom: 5%; right: 10%; background-image: url('../images/4.png'); background-size: cover; }
.parallax-5 { width: 341px; height: 336px; top: 50%; left: 20%; background-image: url('../images/5.png'); background-size: cover; }
.parallax-6 { width: 176px; height: 188px; top: 30%; right: 0%; background-image: url('../images/6.png'); background-size: cover; }

.last-container {
    display: flex;
    width: 100%;
    background: #FEFCEC;
    align-items: stretch;
}

.last-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}
.last-image {
    height: auto;
    width: 80%;
    object-fit: contain;
}
.right-section {
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 94px;
    box-sizing: border-box;
}
.we-offer-an-experience-beyond-jewelry {
    width: 34.4vw;
    height: auto;
}
.last-section-first-text {
    margin-top: 2.2vw;
    text-align: left;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #662423;
}
.last-section-text {
    margin-top: 2.4vw;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #662423;
}
.request-button {
    margin-top: 2.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.check {
    width: 17.6vw;
    height: 3.4vw;
}

.bottom-band {
    width: 100%;
    height: 12.9vw;
    background-color: #662423;
    position: relative;
}

.bottom-logo {
    position: absolute;
    left: 4.2vw;
    top: 50%;
    width: 12.8vw;
    transform: translateY(-50%);
}

.bottom-section-text {
    position: absolute;
    top: 4.9vw;
    left: 20.6vw; 
    text-align: left;

    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 1.3;

    letter-spacing: 0;
    text-transform: uppercase;
    color: #FEFCEC;
}

.youtube-button {
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);
    width: 11.5vw;
    height: 2.7vw;
    background-color: #FEFCEC;
    border-radius: 2.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.youtube-button img {
    width: 5.9vw;
    height: auto;
}

.instagram-button {
    position: absolute;
    right: 15.9vw;
    top: 50%;
    transform: translateY(-50%);
    width: 11.5vw;
    height: 2.7vw;
    background-color: #FEFCEC;
    border-radius: 2.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.instagram-button img {
    width: 7.2vw;
    height: auto;
}

.mobile-image {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .top-band {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .top-image {
        width: auto;
        height: 30px;
        order: 1;
    }

    .top-request-button {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 90px;
        height: 34px;
        border-radius: 34px;
    }

    .top-menu {
        position: absolute;
        left: 31px;
        top: 30px;
        width: 25px;
        height: 20px;
    }

    .lets-maryd {
        width: 100%;
        height: auto;
        padding: 0 8px;
        box-sizing: border-box;
    }

    .top-request-text {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    .maryd-logo {
        width: 257px;
        margin: 122px auto 42px;
    }

    .maryd-logo-image {
        width: 80%;
        height: auto;
    }

    .where-jewelry-meets-meaning {
        margin: 37px auto;
        width: 100px;
        height: auto;
    }

    .where-jewelry-meets-meaning-image {
        width: 100%;
        height: auto;
    }

    .video-thumbnail {
        margin-top: 60px;
        width: 100%;
        height: 300px;
    }

    .video-thumbnail-image {
        margin-top: 120px;
        width: 100%;
        height: auto;
        transition: transform 0.1s ease-in-out;
    }

    .dcursive-image {
        position: absolute;
        width: 48px;
        height: 41px;
        left: 20px;
        top: 0px;
        transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    }
    .dcursive-text {
        position: absolute;
        left: 25px;
        top: 60px;
        width: 51px;
        height: 34px
    }
    .dgodic-image {
        position: absolute;
        top: 16px;
        right: 20px;
        width: 41px;
        height: 41px;
        transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
    }
    .dgodic-text {
        position: absolute;
        top: 60px;
        right: 24px;
        width: 51px;
        height: 34px;
    }

    .where-imagination-becomes-reality {
        margin-top: 60px;
        padding-bottom: 20px;
    }

    .where-imagination-becomes-reality-image {
        width: 124px;
        height: 36px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .desktop-image {
        display: none;
    }

    .new-section {
        height: 576px;
        padding: 100px 0;
        position: relative;
        overflow: hidden;
    }

    .new-section-content {
        position: relative;
        z-index: 2;
    }

    .maryd-support-text {
        position: absolute;
        text-align: center;
        max-width: 800px;

        font-family: 'Pretendard', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
        line-height: 1.3;

        letter-spacing: 0;
        text-transform: uppercase;
        color: #FEFCEC;
    }
    
    .new-section-content > div > img {
        padding-top: 100px;
        width: 262px;
        height: 108px;
    }

    .parallax-image {
        display: block;
        position: absolute;
        z-index: 1;
        opacity: 0.5;
    }

    .parallax-1 { width: 108px; height: 169px; top: 5%; left: 5%; }
    .parallax-2 { width: 136px; height: 182px; top: 0%; right: 5%; }
    .parallax-3 { width: 141px; height: 188px; bottom: 15%; left: 10%; }
    .parallax-4 { width: 200px; height: 300px; bottom: 10%; right: 0%; }
    .parallax-5 { width: 170px; height: 168px; top: 20%; left: 20%; }
    .parallax-6 { width: 151px; height: 165px; top: 80%; right: 15%; display: none;}

    .last-container {
        display: flex;
        width: 100%;
        background: #FEFCEC;
    }
    .last-section {
        width: 43%;
        height: 425px;
    }

    .last-image {
        position: absolute;
        top: 1300px;
        left: 4.2vw;
        width: 37.6vw;
        height: auto;
    }

    .right-section {
        width: 55%;
        height: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        box-sizing: border-box;
    }

    .we-offer-an-experience-beyond-jewelry {
        margin-top: 24px;
        width: 120px;
        height: auto;
    }

    .last-section-first-text {
        text-align: center;
        margin-top: 20px;
        width: 100px;
        
        font-family: 'Pretendard', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 13px;
        line-height: 1;

        letter-spacing: 0;
        text-transform: uppercase;
        color: #662423;
    }

    .last-section-text {
        position: absolute;
        top: 1500px;
        left: 5px;
        width: 97%;
        
        text-align: center;
        font-family: 'Pretendard', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 13px;
        line-height: 1;

        letter-spacing: 0;
        text-transform: uppercase;
        color: #662423;
    }

    .request-button {
        margin-top: 30px;
        display: block;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .check {
        width: 175px;
        height: 30px;
    }

    .bottom-band {
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-logo {
        position: static;
        display: block;
        margin: 21px auto 12px;
        width: 101px;
        height: 18px;
        transform: none;
    }

    .bottom-section-text {
        position: static;
        width: 80%;
        margin: 0 auto 16px;
        text-align: center;
        

        font-family: 'Pretendard', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 8.68px;
        line-height: 1.3;

        letter-spacing: 0;
        text-transform: uppercase;
        color: #FEFCEC;
    }

    .bottom-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .instagram-button, .youtube-button {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px 21px;
        transform: none;
        width: 80px;
        height: 30px;
        border-radius: 30px;
    }

    .instagram-button img {
        width: auto;
        height: 8px;
        display: block;
    }
    
    .youtube-button img {
        width: auto;
        height: 8px;
        display: block;
    }
}
.support-text-container {
    margin-top: 20px;
}